/* Import Barlow font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}
.main-container{
    width: 100%;
}

.initial-box {
    width: 100%;
    height: 898px;
    background: linear-gradient(180deg, #B230C8 -46.16%, #172B60 84.74%);
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

header {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 30px;
}

.logo img {
    height: 50px;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Barlow;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}

.separator {
    color: #fff;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        width: 200px;
        padding: 10px;
        border-radius: 8px;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li.separator {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    nav ul.open {
        display: flex;
    }
}

.big-box {
    width: 100%;
    height: 650px;
    background: rgba(217, 217, 217, 1);
}

section {
    width: 100%;
    padding: 0;
    margin: 0;
}
#aboutus {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(/images/Rectangle\ 50.svg);
    background-size: cover;
    height: 100vh;
}

.aboutus-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.content {
    width: 819px;
    height: 308px;
    margin-top: -400px;
    text-align: left;
    color: #fff;
}

.content h1 {
    font-family: 'Barlow';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.content p {
    font-family: 'Barlow';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 20px 0;
}
a.button-link {
    text-decoration: none;
    display: inline-block;
}

.content button {
    width: 206px;
    height: 61px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: none;
    color: #fff;
    font-family: 'Barlow';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

.image {
    position: absolute;
    left: -380px;
    top: -190px;
    width: 1024px;
    height: 768px;
    opacity: 1;
}

.image img {
    width: 100%;
    height: auto;
}

#methodology {
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
    margin-top: 100px;
}

.methodology-container {
    width: 1209px;
    margin: 0 auto;
    text-align: center;
}

.methodology-container h1 {
    width: 1209px;
    height: 50px;
    font-family: 'Barlow';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #9A9C9E;
    text-transform: uppercase;
}

.methodology-container p {
    width: 1209px;
    height: 184px;
    font-family: 'Barlow';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #9A9C9E;
}

.image-methodology {
    width: 1241.58px;
    height: 413.67px;
    margin: 0 auto; 
    margin-bottom: 100px;
}

.image-methodology img {
    width: 100%;
    height: auto;
    display: block; 
}
#what-we-do {
    position: relative;
    width: 100%;
    height: 1398px;
    padding-top: 60px; 
    padding-bottom: 60px; 
    background: rgba(26, 43, 82, 1);
}

.what-we-do-container {
    width: 1440px;
    margin: 0 auto;
    text-align: left; 
}

.what-we-do-content {
    width: 1209px;
    height: 184px;
    margin: 0 auto 20px; 
    margin-top: 128px;
}

.what-we-do-content h1 {
    font-family: 'Barlow';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin: 0 0 20px 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

.what-we-do-content p {
    font-family: 'Barlow';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
    color: #FFFFFF;
}

.main-box, .secondary-box {
    width: 1209px;
    margin: 0 auto; 
    display: flex;
    gap: 15px; 
    margin-top: 20px; 
    flex-wrap: wrap; 
}

.main-box .box:nth-child(1) {
    width: 340.87px;
    height: 300.01px;
    background: linear-gradient(157.45deg, #254176 3.17%, #1D2A5A 38.58%, #1B2453 64.85%, #1F3671 93.18%);
    border-radius: 20px;
    border: 2px solid #FFFFFF26;
    opacity: 1;
}

.main-box .box:nth-child(2) {
    width: 841.22px;
    height: 300.01px;
    background: linear-gradient(157.45deg, #254176 3.17%, #1D2A5A 38.58%, #1B2453 64.85%, #1F3671 93.18%);
    border-radius: 20px;
    border: 2px solid #FFFFFF26;
    opacity: 1;
}

.secondary-box .box:nth-child(1) {
    width: 589.05px;
    height: 560.15px;
    background: linear-gradient(157.45deg, #254176 3.17%, #1D2A5A 38.58%, #1B2453 64.85%, #1F3671 93.18%);
    border-radius: 20px;
    border: 2px solid #FFFFFF26;
    opacity: 1;
}
.secondary-box .box:nth-child(2) {
    width: 589.05px;
    height: 560.15px;
    background: linear-gradient(157.45deg, #254176 3.17%, #1D2A5A 38.58%, #1B2453 64.85%, #1F3671 93.18%);
    border-radius: 20px;
    border: 2px solid #FFFFFF26;
    opacity: 1;
}

#testimonials {
    position: relative;
    width: 100%;
    height: 600px;
    padding: 60px 0; 
    background-color: #FFFFFF;
}

.testimonials-container {
    width: 1209px;
    margin: 0 auto;
    text-align: left; 
    margin-top: 100px;
}

.testimonials-container h1 {
    width: 1209px;
    height: 64px;
    font-family: 'Barlow';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(154, 156, 158, 1);
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.testimonial {
    display: flex;
    align-items: center;
    gap: 90px;
    margin-top: 40px;
}

.testimonial-image {
    width: 236px;
    height: 236px;
    background: rgba(217, 217, 217, 1);
    border-radius: 50%; 
    opacity: 1; 
}

.testimonial-content {
    max-width: 800px; 
    position: relative;
}

.testimonial-content p {
    font-family: 'Barlow';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(154, 156, 158, 1);
}

.testimonial-content::before, .testimonial-content::after {
    content: '“';
    position: absolute;
    font-family: 'Barlow';
    font-size: 128px;
    font-weight: 700;
    line-height: 153.6px;
    color: rgba(154, 156, 158, 1);
    opacity: 1;
}

.testimonial-content::before {
    top: -40px;
    left: -50px;
}

.testimonial-content::after {
    content: '”'; 
    bottom: -40px; 
    right: -50px; 
}
#contact {
    position: relative;
    width: 100%;
    height: 677px; 
    background-image: url('/images/contact-bot.png'); 
    background-repeat: no-repeat;
    background-position: cover;
    overflow: hidden;
}
.contact-container {
    position: relative;
    width: 100%;
    height: 100%;   
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 233px;
    margin-top: 120px;
}

.contact-content {
    text-align: right; 
    color: #fff;
    position: relative;
    max-width: 600px; 
}

.contact-content h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 20px 0;
    text-align: left;
    text-transform: uppercase;
}

.contact-info-box {
    width: 581px;
    height: 368px;
    background: transparent;
    margin-top: 60px;
    text-align: left;
}

.contact-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info-item a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: #fff; 
}

.contact-info-item i {
    font-size: 24px; /* Ajusta el tamaño del icono según sea necesario */
    margin-right: 10px;
    border-radius: 50%; /* Hace que el borde sea circular */
    padding: 10px; /* Espacio alrededor del icono dentro del borde */
}

.contact-info-item span {
    font-family: 'Barlow';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

footer {
    width: 1430px;
    text-align: center;
    padding: 20px;
    background: rgba(26, 43, 82, 1);
    color: white;
}

